ul{
	background-color: orange;
}
ol{
	background-color: pink;
}
dl{
	background-color: teal;
}
.h{
	background-color:yellow ;
}

#p{
	background-color: black;
}

#e{
	background-color: white;
}